table tbody tr:last-child td {
    border-bottom: none !important;
}

.dropdown-item {
    cursor: pointer;
    background-color: transparent;
    color: black;
}

.dropdown-item:hover {
    background-color: #f8f9fa;
}