<div class="modal fade show" tabindex="-1" *ngIf="visible" style="display: block">
  <div class="modal-dialog z-3 fixed-top modal-dialog-scrollable" style="padding-top: 150px">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5">{{ title }}</h1>
        <button type="button" class="btn-close" (click)="close()"></button>
      </div>

      <div class="modal-body">
        <ng-content></ng-content>
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" (click)="close()">Close</button>
        <button type="button" class="btn btn-dark" (click)="save()">Save</button>
      </div>
    </div>
  </div>
  <div class="modal-backdrop fade show z-1"></div>
</div>
