<div class="modal fade show" tabindex="-1" *ngIf="visible" style="display: block">
  <div class="modal-dialog z-3 fixed-top modal-dialog-scrollable" style="padding-top: 150px">
    <div class="modal-content px-5 py-4">
      <div class="d-flex flex-column pb-2 align-items-center">
        <i class="bi bi-exclamation-circle fs-1"></i>
        <h1 style="font-weight: bolder" class="modal-title fs-5 text-center">{{ title }}</h1>
        <p class="text-center">{{ message }}</p>
      </div>
      <!-- <div class="modal-body py-0">
                <ng-content></ng-content>
            </div> -->

      <div class="border-0 d-flex gap-2">
        <button
          type="button"
          class="btn btn-secondary w-100 border-1 bg-transparent text-dark"
          (click)="close()"
        >
          {{ cancel }}
        </button>
        <button
          type="button"
          class="btn btn-dark w-100 border-0"
          [ngClass]="{ 'bg-danger': confirmText.includes('delete') }"
          (click)="save()"
        >
          {{ confirmText }}
        </button>
      </div>
    </div>
  </div>
  <div class="modal-backdrop blur fade show z-1"></div>
</div>
